* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, p, a{
    font-family: 'Quicksand', sans-serif;
}
.body {
    background: '#F5F5F5';
}
.navegador {
    width: auto;
    background: #1E1E1E;
}
.navegador ul{
    list-style: none;
}
.lista {
    text-align: left;
}
.lista > li{
    position: relative;
    display: inline-block;
}
.lista > li > a{
    display: block;
    padding: 30px 28px;
    width: 170px;
    text-align: center;
    color: #B1B1B1;
    font-family: 'Quicksand', sans-serif;
    text-decoration-line: none;
}
.lista > li > a:hover{
    color: #1E1E1E;
    background: #B1B1B1;
    transition: .8s;
}
.submenu {
    position: absolute;
    background: #1E1E1E;
    width: 100%; 
    display: none;
    padding: auto;
    text-align: center;
}
.submenu  li  a{
    display: block;
    color: #B1B1B1;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    padding: 20px;
    width: 100%;
}
.submenu li a:hover{
    color:  #1E1E1E;
    background-color: #B1B1B1;
    transition: .8s;
}
.submenupizza {
    left: 100%;
    top: 0%;
    position: absolute;
    background: #1E1E1E;
    width: 100%; 
    display: none;
    padding: auto;
    text-align: center;
}
.submenupizza li a {
    display: block;
    color: #B1B1B1;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    padding: 20px;
    width: 100%;
}
.submenupizza li a:hover{
    color:  #1E1E1E;
    background-color: #B1B1B1;
    transition: .8s;
}
.submenu li:hover .submenupizza {
    display: block;
}
.lista li:hover .submenu{
    display: block;
}
.imga {
    display: block;
    width: 79px;
    height: 79px;
}
.til {
    display: inline-block;
    margin: auto;
    float: left;
    width: auto;
    height: auto;
    object-fit: cover
}
.footer {
    background: #0B0B0B;
    text-align: center;
    padding: 16px;
    color: white;
}
.pp {
    font-size: 20px;
    text-align: left;
}
.aliment {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('../../carpeta-de-imagenes/budin2.jpg');
    background-size: cover;
    background-position: left;
}
.budi {
    width: 350px;
    height: 450px;
    margin-bottom: 1cm;
    margin-top: 1cm;
    margin-right: 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: center;
    display: block;
    padding: 40px;
    padding-top: 60px;
    border-radius: 20px;
    object-fit: none;
    float: right;
}